body {
  font-family: sans-serif;
  padding: 20px;
}

#progress-bar-container {
  width: 100%;
  background: #eee;
  height: 20px;
  margin-top: 10px;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background: green;
}
